<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Annotation tool, based on canvas, using python flask pure html, javascript, css">
    <meta name="keywords" content="Python, Flask, HTML, CSS, Javascript, CANVAS, W3CSS, JSON API">
    <meta name="author" content="Archil Labadze">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="../static/w3.css">
    <link rel="stylesheet" href="../static/snackbar.css">
    <title>Annotation Tool</title>
    <style>
        #canvas {
            background-color: transparent;
        }
    </style>
</head>
<body>
<div>
    <div class="w3-container">
        <div id="success_modal" class="w3-modal">
            <div class="w3-modal-content w3-animate-top w3-card-4">
                <header class="w3-container w3-white">
        <span onclick="reloadAndSelectFile()"
              class="w3-button w3-display-topright">&times;</span>
                    <h4 class="w3-center">Operation success</h4>
                </header>
                <div class="w3-container">
                    <p>Operation completed successfully...</p>
                </div>
                <footer class="w3-container w3-white">
                    <p></p>
                </footer>
            </div>
        </div>
        <div class="w3-bar-block w3-quarter w3-sand" id="menu_list" style="max-width: 300px;"></div>
        <div class="w3-quarter" style="max-width: 300px;" id="label_selector">
            <div class="w3-margin w3-padding">
                <button class="w3-btn w3-red" style="min-width: 250px; max-width: 250px;"
                        id="0" onclick="defineLabel('0')">RED
                </button>
            </div>
            <div class="w3-margin w3-padding">
                <button class="w3-btn w3-green" style="min-width: 250px; max-width: 250px;" id="1"
                        onclick="defineLabel('1')">GREEN
                </button>
            </div>
            <div class="w3-margin w3-padding">
                <button class="w3-btn w3-blue" style="min-width: 250px; max-width: 250px;" id="2"
                        onclick="defineLabel('2')">BLUE
                </button>
            </div>

            <div class="w3-margin w3-padding">
                <button class="w3-btn w3-blue-gray" style="min-width: 250px; max-width: 250px;" id="save_changes">SAVE
                    CHANGES
                </button>
            </div>

        </div>
        <div class="w3-rest">
            <canvas id="canvas"></canvas>
            <!--            <img class="w3-hide" id="img" alt="" src=""/>-->
        </div>
    </div>
    <!-- The actual snackbar -->
    <div id="snackbar"></div>
</div>
<script>
    // API URL
    const SERVER_URL = 'http://127.0.0.1:5000';
    // Define menu ids to make menu item active and set dots to changed files
    let menuIds = [];
    // File item id
    itemId = null;
    // Selected button label
    let selectedLabel = null;
    let selectedAnnotationText = null;
    let hardCodedAnnotationText0 = 'Annotation Text 0';
    let hardCodedAnnotationText1 = 'Annotation Text 1';
    let hardCodedAnnotationText2 = 'Annotation Text 2';
    let colorToSet0 = 'red';
    let colorToSet1 = 'green';
    let colorToSet2 = 'DeepSkyBlue';

    let colorToSet = null;
    let selectedFileName = null;

    let w = 0;
    let h = 0;
    /*
    * Drawing
    * */
    let lineOffset = 4;
    let anchorSize = 2;

    let mousedown = false;
    let clickedArea = {box: -1, pos: 'o'};
    let x1 = -1;
    let y1 = -1;
    let x2 = -1;
    let y2 = -1;

    let boxes = [];
    let tmpBox = null;

    let prevRect = {x: null, y: null, w: null, h: null};
    let boxesToAppend = [];

    const defineLabel = (labelId) => {
        selectedLabel = labelId;
        if (labelId === '0') {
            colorToSet = colorToSet0;
            selectedAnnotationText = hardCodedAnnotationText0;
            remapSelection(labelId);
        }
        if (labelId === '1') {
            colorToSet = colorToSet1;
            selectedAnnotationText = hardCodedAnnotationText1;
            remapSelection(labelId);
        }

        if (labelId === '2') {
            colorToSet = colorToSet2;
            selectedAnnotationText = hardCodedAnnotationText2;
            remapSelection(labelId);
        }
    };

    const remapSelection = (itemId) => {
        for (let selectorItem of document.getElementById("label_selector").children) {
            const buttonId = selectorItem.firstElementChild.id;
            if (buttonId === itemId) {
                document.getElementById(buttonId).classList.add(...["w3-border", "w3-border-gray", "w3-text-grey"]);
            } else {
                let ces = [];
                document.getElementById(buttonId).classList.forEach((c) => {
                    if (c !== "w3-border" && c !== "w3-border-gray" && c !== "w3-text-grey") {
                        ces.push(c);
                    }
                });
                document.getElementById(buttonId).classList.remove(...["w3-border", "w3-border-gray", "w3-text-grey"]);

            }
        }
    }


    // Shown snackbar with message
    const showSnackBar = (message) => {
        // Get the snackbar DIV
        let x = document.getElementById("snackbar");
        // Add the "show" class to DIV
        x.className = "show";
        // Set text
        x.textContent = message;
        // After 3 seconds, remove the show class from DIV
        setTimeout(() => {
            x.className = x.className.replace("show", "");
        }, 3000);
    }

    /*
    * Draw frames
    * */

    document.getElementById("canvas").onmousedown = function (e) {
        mousedown = true;
        clickedArea = findCurrentArea(e.offsetX, e.offsetY);
        x1 = e.offsetX;
        y1 = e.offsetY;
        x2 = e.offsetX;
        y2 = e.offsetY;
    };
    document.getElementById("canvas").onmouseup = function (e) {
        if (clickedArea.box === -1 && tmpBox !== null) {
            boxes.push(tmpBox);
        } else if (clickedArea.box !== -1) {
            let selectedBox = boxes[clickedArea.box];
            if (selectedBox.x1 > selectedBox.x2) {
                let previousX1 = selectedBox.x1;
                selectedBox.x1 = selectedBox.x2;
                selectedBox.x2 = previousX1;
            }
            if (selectedBox.y1 > selectedBox.y2) {
                let previousY1 = selectedBox.y1;
                selectedBox.y1 = selectedBox.y2;
                selectedBox.y2 = previousY1;
            }
        }
        clickedArea = {box: -1, pos: 'o'};
        tmpBox = null;
        mousedown = false;
        console.log(boxes);
    };
    document.getElementById("canvas").onmouseout = function (e) {
        if (clickedArea.box !== -1) {
            let selectedBox = boxes[clickedArea.box];
            if (selectedBox.x1 > selectedBox.x2) {
                let previousX1 = selectedBox.x1;
                selectedBox.x1 = selectedBox.x2;
                selectedBox.x2 > previousX1;
            }
            if (selectedBox.y1 > selectedBox.y2) {
                let previousY1 = selectedBox.y1;
                selectedBox.y1 = selectedBox.y2;
                selectedBox.y2 > previousY1;
            }
        }
        mousedown = false;
        clickedArea = {box: -1, pos: 'o'};
        tmpBox = null;
    };
    document.getElementById("canvas").onmousemove = function (e) {
        if (mousedown && clickedArea.box === -1) {
            x2 = e.offsetX;
            y2 = e.offsetY;
            redraw();
        } else if (mousedown && clickedArea.box !== -1) {
            x2 = e.offsetX;
            y2 = e.offsetY;
            xOffset = x2 - x1;
            yOffset = y2 - y1;
            x1 = x2;
            y1 = y2;

            if (clickedArea.pos === 'i' ||
                clickedArea.pos === 'tl' ||
                clickedArea.pos === 'l' ||
                clickedArea.pos === 'bl') {
                boxes[clickedArea.box].x1 += xOffset;
            }
            if (clickedArea.pos === 'i' ||
                clickedArea.pos === 'tl' ||
                clickedArea.pos === 't' ||
                clickedArea.pos === 'tr') {
                boxes[clickedArea.box].y1 += yOffset;
            }
            if (clickedArea.pos === 'i' ||
                clickedArea.pos === 'tr' ||
                clickedArea.pos === 'r' ||
                clickedArea.pos === 'br') {
                boxes[clickedArea.box].x2 += xOffset;
            }
            if (clickedArea.pos === 'i' ||
                clickedArea.pos === 'bl' ||
                clickedArea.pos === 'b' ||
                clickedArea.pos === 'br') {
                boxes[clickedArea.box].y2 += yOffset;
            }
            redraw();
        }
    }

    // Detect hover
    document.getElementById("canvas").addEventListener("mousemove", (event) => {
        const canvas = document.getElementById("canvas");
        const context = canvas.getContext("2d");
        // important: correct mouse position:
        let rect = event.target.getBoundingClientRect();
        let x = event.clientX - rect.left;
        let y = event.clientY - rect.top;
        for (const box of boxes) {
            context.beginPath();
            context.rect(box.x1, box.y1, box.x2 - box.x1, box.y2 - box.y1);
            if (context.isPointInPath(x, y)) {
                context.closePath();
                context.beginPath();
                context.lineWidth = 1;
                context.fillStyle = 'white';
                context.strokeStyle = box.color;
                // context.rect(box.x2, box.y1 - 20, 20, 20);
                context.rect(box.x2 - 20, box.y1 + 20, 20, 20);
                // context.stroke();
                context.fillText('X', box.x2 - 15, (box.y1 + 15));
                context.closePath();
                if (prevRect.x === null && prevRect.y === null && prevRect.w === null && prevRect.h === null) {
                    prevRect.x = box.x2;
                    prevRect.y = box.y1 - 20;
                    prevRect.w = 20;
                    prevRect.h = 20;
                }
                // break;
            } else {
                setTimeout(() => {
                    if (prevRect.x !== null && prevRect.y !== null && prevRect.w !== null && prevRect.h !== null) {
                        context.beginPath();
                        context.clearRect(prevRect.x, prevRect.y, prevRect.w, prevRect.h);
                        context.closePath();
                        prevRect = {x: null, y: null, w: null, h: null};
                    }
                }, 1500);
            }
            context.closePath();
        }
    });

    // Remove frame
    document.getElementById("canvas").addEventListener("click", (event) => {
        const canvas = document.getElementById("canvas");
        const context = canvas.getContext("2d");
        // important: correct mouse position:
        let rect = event.target.getBoundingClientRect();
        let x = event.clientX - rect.left;
        let y = event.clientY - rect.top;
        for (const box of boxes) {
            context.beginPath();
            context.rect(box.x2 - 20, box.y1, 20, 20);
            if (context.isPointInPath(x, y)) {
                context.beginPath();
                context.clearRect(box.x1, box.y1, box.x2 - box.x1, box.y2 - box.y1);
                context.closePath();
                removeBoxFromArray(box);
            }
            context.closePath();
        }
    });

    const removeBoxFromArray = (box) => {
        for (let b of boxes) {
            if (b.id !== box.id) {
                boxesToAppend.push(b);
            }
        }
        boxes = boxesToAppend;
        redraw();
        boxesToAppend = [];
    }

    function redraw() {
        // canvas.width = canvas.width;
        let context = document.getElementById("canvas").getContext('2d');
        context.clearRect(0, 0, w || 800, h || 600);
        context.beginPath();
        for (let i = 0; i < boxes.length; i++) {
            drawBoxOn(boxes[i], context);
        }

        if (clickedArea.box === -1) {
            tmpBox = newBox(x1, y1, x2, y2, colorToSet);
            if (tmpBox != null) {
                drawBoxOn(tmpBox, context);
            }
        }
    }

    function findCurrentArea(x, y) {
        for (let i = 0; i < boxes.length; i++) {
            let box = boxes[i];
            xCenter = box.x1 + (box.x2 - box.x1) / 2;
            yCenter = box.y1 + (box.y2 - box.y1) / 2;
            if (box.x1 - lineOffset < x && x < box.x1 + lineOffset) {
                if (box.y1 - lineOffset < y && y < box.y1 + lineOffset) {
                    return {box: i, pos: 'tl'};
                } else if (box.y2 - lineOffset < y && y < box.y2 + lineOffset) {
                    return {box: i, pos: 'bl'};
                } else if (yCenter - lineOffset < y && y < yCenter + lineOffset) {
                    return {box: i, pos: 'l'};
                }
            } else if (box.x2 - lineOffset < x && x < box.x2 + lineOffset) {
                if (box.y1 - lineOffset < y && y < box.y1 + lineOffset) {
                    return {box: i, pos: 'tr'};
                } else if (box.y2 - lineOffset < y && y < box.y2 + lineOffset) {
                    return {box: i, pos: 'br'};
                } else if (yCenter - lineOffset < y && y < yCenter + lineOffset) {
                    return {box: i, pos: 'r'};
                }
            } else if (xCenter - lineOffset < x && x < xCenter + lineOffset) {
                if (box.y1 - lineOffset < y && y < box.y1 + lineOffset) {
                    return {box: i, pos: 't'};
                } else if (box.y2 - lineOffset < y && y < box.y2 + lineOffset) {
                    return {box: i, pos: 'b'};
                } else if (box.y1 - lineOffset < y && y < box.y2 + lineOffset) {
                    return {box: i, pos: 'i'};
                }
            } else if (box.x1 - lineOffset < x && x < box.x2 + lineOffset) {
                if (box.y1 - lineOffset < y && y < box.y2 + lineOffset) {
                    return {box: i, pos: 'i'};
                }
            }
        }
        return {box: -1, pos: 'o'};
    }

    // New box composition
    function newBox(x1, y1, x2, y2, color) {
        boxX1 = x1 < x2 ? x1 : x2;
        boxY1 = y1 < y2 ? y1 : y2;
        boxX2 = x1 > x2 ? x1 : x2;
        boxY2 = y1 > y2 ? y1 : y2;
        if (boxX2 - boxX1 > lineOffset * 2 && boxY2 - boxY1 > lineOffset * 2) {
            return {
                id: Date.now().toString(),
                x1: boxX1,
                y1: boxY1,
                x2: boxX2,
                y2: boxY2,
                lineWidth: 1,
                color: color, // 'DeepSkyBlue'
                annotationText: selectedAnnotationText,
            };
        } else {
            return null;
        }
    }

    // Draw shape
    function drawBoxOn(box, context) {
        xCenter = box.x1 + (box.x2 - box.x1) / 2;
        yCenter = box.y1 + (box.y2 - box.y1) / 2;

        // clear prev (to make with different color)
        context.beginPath();
        context.strokeStyle = box.color;
        context.fillStyle = box.color;
        context.rect(box.x1, box.y1, (box.x2 - box.x1), (box.y2 - box.y1));
        // close (to make with different color)
        context.closePath();
        context.stroke();
        context.fillText(box.annotationText, box.x1 + 10, (box.y1 + box.y2) / 2);
        context.fillRect(box.x1 - anchorSize, box.y1 - anchorSize, 2 * anchorSize, 2 * anchorSize);
        context.fillRect(box.x1 - anchorSize, yCenter - anchorSize, 2 * anchorSize, 2 * anchorSize);
        context.fillRect(box.x1 - anchorSize, box.y2 - anchorSize, 2 * anchorSize, 2 * anchorSize);
        context.fillRect(xCenter - anchorSize, box.y1 - anchorSize, 2 * anchorSize, 2 * anchorSize);
        context.fillRect(xCenter - anchorSize, yCenter - anchorSize, 2 * anchorSize, 2 * anchorSize);
        context.fillRect(xCenter - anchorSize, box.y2 - anchorSize, 2 * anchorSize, 2 * anchorSize);
        context.fillRect(box.x2 - anchorSize, box.y1 - anchorSize, 2 * anchorSize, 2 * anchorSize);
        context.fillRect(box.x2 - anchorSize, yCenter - anchorSize, 2 * anchorSize, 2 * anchorSize);
        context.fillRect(box.x2 - anchorSize, box.y2 - anchorSize, 2 * anchorSize, 2 * anchorSize);
    }

    const resetBoxes = () => {
        boxes = [];
        redraw();
    };

    /*
    * Generating image list menu
    * */

    let menuBlock = document.getElementById('menu_list');

    window.addEventListener('load', (event) => {
        let params = (new URL(document.location)).searchParams;
        let efn = params.get("encoded_file_name");
        let decoded_fn = atob(efn);
        // document.getElementById('save_changes').disabled = true;
        fetch(`${SERVER_URL}/image_list`).then((response) => response.json()).then((data) => {
            // Run for cycle to iterate response item
            /*
            * Returning type
            *  { "success" boolean, "data": array }
            * */
            for (const menuItem of data.data) {
                // Creating menu element
                let menuPoint = document.createElement('a');
                // Set classname
                menuPoint.className = 'w3-bar-item w3-button w3-padding';
                // Set file name as html element id
                menuPoint.id = menuItem.file_name;
                // Set file name as meni visible text
                const menuText = document.createTextNode(menuItem.file_name);
                if (menuItem.data_available) {
                    const spanEl = document.createElement('span');
                    spanEl.className = 'w3-right';
                    const dotText = document.createTextNode('•');
                    spanEl.appendChild(dotText);
                    menuPoint.appendChild(spanEl);
                }
                // Append to html element
                menuPoint.appendChild(menuText);
                menuIds.push(menuItem.file_name);
                // Handle click on item...
                menuPoint.addEventListener('click', function handleClick(event) {
                    // Define selected file name
                    selectedFileName = menuItem.file_name;
                    // Call function to make image visible to pass image path
                    displayImage(menuItem.file_path);
                    // Get file name if licked
                    getFileInfo(menuItem.file_name);
                    // add class as active on click
                    document.getElementById(menuItem.file_name).className = 'w3-bar-item w3-button w3-padding w3-blue';
                    menuIds.forEach((m) => {
                        if (m !== menuItem.file_name) {
                            document.getElementById(m).classList.remove('w3-blue');
                        }
                    });
                });
                // Append item to list
                menuBlock.appendChild(menuPoint);
                if (menuItem.file_name === decoded_fn) {
                    // Call function to make image visible to pass image path
                    displayImage(menuItem.file_path, menuItem.file_name);
                    // add class as active on click
                    document.getElementById(menuItem.file_name).className = 'w3-bar-item w3-button w3-padding w3-blue';
                }
            }
        }).catch(error => {
            showSnackBar(JSON.stringify(error));
        });
    });

    // Set source for image
    const displayImage = (imagePath, fileName) => {
        if (boxes.length > 0) {
            resetBoxes();
        }
        document.getElementById("canvas").style.backgroundImage = `url("${imagePath}")`;
        document.getElementById("canvas").style.backgroundRepeat = 'no-repeat';
        let canvas = document.getElementById("canvas");
        let img = new Image();
        img.src = imagePath;
        canvas.width = img.width;
        canvas.height = img.height;
        // Set new values for general canvas
        w = img.width;
        h = img.height;
         // Get file name if licked
        getFileInfo(fileName);
    };

    /*
    * Check file on click
    * */
    const getFileInfo = (fileName) => {
        fetch(`${SERVER_URL}/file?encoded_file_name=${window.btoa(`${fileName}`)}`).then((response) => response.json()).then((data) => {
            if (data.success) {
                const fetchedData = data.data;
                itemId = fetchedData.id;
                if (boxes.length > 0) {
                    resetBoxes();
                }
                boxes = fetchedData.annotations;
                redraw();
            } else {
                itemId = null;
            }
        }).catch(error => {
            showSnackBar(JSON.stringify(error));
        });
    }

    document.getElementById('save_changes').addEventListener('click', (event) => {
        if (boxes.length > 0) {
            if (selectedFileName !== null) {
                if (itemId === null) {
                    showSnackBar("Creating new entry (file including annotations)...");
                    fetch(`${SERVER_URL}/file`, {
                        method: 'POST', // or 'PUT'
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            id: Date.now(),
                            img_path: selectedFileName,
                            annotations: boxes,
                        }),
                    }).then((response) => response.json())
                        .then((data) => {
                            if (data.success) {
                                document.getElementById('success_modal').style.display = 'block';
                                const menuItem = document.getElementById(selectedFileName);
                                const spanEl = document.createElement('span');
                                spanEl.className = 'w3-right';
                                const dotText = document.createTextNode('•');
                                spanEl.appendChild(dotText);
                                menuItem.appendChild(spanEl);
                            }
                        })
                        .catch((error) => {
                            showSnackBar(JSON.stringify(error));
                        });
                } else {
                    showSnackBar("Saving your changes...");
                    fetch(`${SERVER_URL}/file/${itemId}`, {
                        method: 'PATCH', // or 'PUT'
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            id: itemId,
                            img_path: selectedFileName,
                            annotations: boxes,
                        }),
                    }).then((response) => response.json())
                        .then((data) => {
                            if (data.success) {
                                document.getElementById('success_modal').style.display = 'block';
                                const menuItem = document.getElementById(selectedFileName);
                                const spanEl = document.createElement('span');
                                spanEl.className = 'w3-right';
                                const dotText = document.createTextNode('•');
                                spanEl.appendChild(dotText);
                                menuItem.appendChild(spanEl);
                            }
                        })
                        .catch((error) => {
                            showSnackBar(JSON.stringify(error));
                        });
                }
            } else {
                showSnackBar("There is no file selected...");
            }
        } else {
            showSnackBar("There are no annotations please create one...");
        }
    });

    const reloadAndSelectFile = () => {
        document.getElementById('success_modal').style.display = 'none';
        location.replace(`${SERVER_URL}?encoded_file_name=${window.btoa(`${selectedFileName}`)}`);
    };


</script>
</body>
</html>